*.suo
.user
.suo

/.vs/
/.vs/TNet/v14/*.suo

/SunShine.BLL/obj/
/SunShine.BLL/bin/
/SunShine.EF/obj/
/SunShine.EF/bin/
/SunShine.Model/obj/
/SunShine.Model/bin/
/SunShine.Utils/obj/
/SunShine.Utils/bin/
/SunShine.Web/obj/
/SunShine.Web/bin/
/SunShine.Web.Utils/obj/
/SunShine.Web.Utils/bin/

/packages/