.case_box {
    width: 100%;
    min-width: 750px;
    margin: 0 auto;
}

.case_left {
    float: left;
    width: 245px;
}

.success_case_top {
    border: 1px solid #c3c3c3;
    color: #FFFFFF;
    text-align: center;
    background-color: #da251c;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    padding: 22px 0 16px 0;
}

    .success_case_top .success_case_title {
        font-size: 22px;
        font-weight: bold;
    }

.cp_left .success_case_top .success_case_title {
    font-size: 22px;
    font-weight: 400;
}

.cp_left .success_case_subtitle .subtitle_center {
    font-weight: 400;
}

.success_case_top .success_case_subtitle {
}

.success_case_subtitle .subtitle_left {
    float: left;
    border: 1px solid #FFFFFF;
    margin-left: 5%;
    width: 20%;
    margin-top: 10px;
}

.success_case_subtitle .subtitle_center {
    margin: 0 auto;
    float: left;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
}

.success_case_subtitle .subtitle_right {
    float: right;
    border: 1px solid #FFFFFF;
    margin-right: 5%;
    width: 20%;
    margin-top: 10px;
}

.success_case_bottom {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    padding: 42px 0;
}


.case_category_title {
    width: 188px;
    height: 34px;
    background-color: #da251c;
    text-align: center;
    margin: 20px 29px 0 29px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .case_category_title a {
        text-decoration: none;
        font-size: 18px;
        line-height: 34px;
        font-weight: bold;
        color: #FFFFFF;
    }

.case_category_title_current {
    color: #ffec19;
}

.case_honor_top {
    border: 1px solid #c3c3c3;
    color: #FFFFFF;
    text-align: center;
    background-color: #da251c;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    margin-top: 30px;
    padding: 16px 0;
}

    .case_honor_top .case_honor_title {
        font-size: 18px;
        font-weight: bold;
        float: left;
        margin-left: 14px;
    }

    .case_honor_top .case_honor_more {
        padding-top: 2px;
        margin-right: 16px;
    }

        .case_honor_top .case_honor_more a {
            font-size: 14px;
            font-weight: bold;
            float: right;
            color: #FFFFFF;
        }

.case_honor_bottom {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    margin-top: 0px;
    padding-top: 30px;
    width: 245px;
    height: 600px;
}

.honoritem .honor_img {
    width: 196px;
    margin: 0 auto;
    border: 1px solid #c3c3c3;
}

    .honoritem .honor_img img {
        width: 184px;
        text-align: center;
        display: block;
        margin: 6px auto;
    }

.honoritem .honor_img_title {
    margin-top: 10px;
    text-align: center;
}

    .honoritem .honor_img_title a {
        font-size: 18px;
        font-weight: bold;
    }

.case_contactus_top {
    border: 1px solid #c3c3c3;
    color: #FFFFFF;
    text-align: center;
    background-color: #da251c;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    margin-top: 30px;
    padding: 16px 0;
}

    .case_contactus_top .case_contactus_title {
        font-size: 18px;
        font-weight: bold;
        float: left;
        margin-left: 18px;
    }

    .case_contactus_top .case_contactus_more {
        padding-top: 2px;
        float: right;
        margin-right: 16px;
        text-align: center;
    }

        .case_contactus_top .case_contactus_more a {
            color: #FFFFFF;
            font-size: 14px;
            font-weight: bold;
        }

.case_contactus_bottom {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    padding: 14px 0 26px 0;
}

    .case_contactus_bottom .contactusimg {
        margin: 0 auto;
        width: 220px;
    }

        .case_contactus_bottom .contactusimg img {
            width: 220px;
        }

    .case_contactus_bottom .contactusphone {
        margin: 20px 0 0 22px;
    }

.contactusphone .contactus_phone_icon {
    float: left;
}

    .contactusphone .contactus_phone_icon img {
        width: 46px;
    }

.contactusphone .contactus_phone_info {
    margin-left: 8px;
    float: left;
}

    .contactusphone .contactus_phone_info .contactus_phone_title {
        font-size: 12px;
        font-weight: bold;
    }

    .contactusphone .contactus_phone_info .contactus_phone_no {
        font-size: 20px;
        font-weight: bold;
        color: #da251c;
    }

.case_contactus_bottom .contactuslist ul {
    margin: 14px 10px 0 30px;
    list-style-type: none;
}

    .case_contactus_bottom .contactuslist ul li {
        list-style-type: none;
        font-size: 14px;
        margin-top: 6px;
    }

.case_right {
    float: left;
    width: 100%;
    min-width: 750px;
}

.case_nav {
    height: 76px;
    border: 1px solid #c3c3c3;
    overflow: hidden;
}

    .case_nav .case_nav_icon {
        background-color: #da251c;
        width: 22px;
        height: 22px;
        float: left;
        margin: 32px 0 0 16px;
    }

    .case_nav .case_nav_title {
        line-height: 86px;
        font-size: 34px;
        float: left;
        margin-left: 6px;
        /*font-weight: bold;*/
        text-align: center;
        overflow: hidden;
    }

        .case_nav .case_nav_title span a {
            color: #666666;
        }

.case_list {
    padding: 5px 3%;
    margin: 0 auto;
}

    .case_list .case_list_item {
        border-bottom: 1px dashed #c3c3c3;
        padding: 42px 0 10px 0;
    }

.case_list_item .itemimg {
    float: left;
    margin-left: 0px;
    width: 46%;
    text-align: center;
}

    .case_list_item .itemimg img {
        width: 100%;
    }

.case_list_item .itemdesc {
    float: left;
    margin-left: 4%;
    width: 50%;
}

    .case_list_item .itemdesc .itemtitle a {
        font-size: 30px;
        color: #da251c;
        font-weight: bold;
    }

    .case_list_item .itemdesc .itemdetail {
        margin-top: 10px;
        font-weight: 400;
        font-size: 26px;
    }

.case_list_item .create_time {
    margin-top: 20px;
    text-align: right;
    padding: 10px 0;
}

/**/
.case_list .case_question_item {
    border-bottom: 1px dashed #c3c3c3;
    padding: 26px 10px 20px 10px;
}

.case_question_item .itemdesc {
    margin-left: 30px;
    width: 676px;
}

    .case_question_item .itemdesc .itemtitle a {
        font-size: 14px;
        color: #da251c;
        font-weight: bold;
    }

    .case_question_item .itemdesc .itemdetail {
        margin-top: 10px;
        font-size: 14px;
        width: 658px;
    }


.bgcolor_title_head {
    background-color: #da251c;
    font-size: 38px;
    padding: 6px 0;
    color: #FFFFFF;
    /*font-weight: bold;*/
}

.hot_sale_product {
    width: 1006px;
    min-width: 1006px;
    margin: 0 auto;
    margin-top: 30px;
}

.hot_sale_product_head {
    border-bottom: 2px solid #c3c3c3;
}

.hot_sale_product_title {
    float: left;
    text-align: center;
    padding-left: 26px;
    padding-right: 26px;
}

.hot_sale_product_more {
    float: right;
    margin-right: 12px;
    margin-top: 14px;
}

    .hot_sale_product_more a {
        font-size: 16px;
        font-weight: bold;
        color: #da251c;
    }

.hot_sale_product_list {
    margin-top: 24px;
}

    .hot_sale_product_list .hot_sale_product_item {
        float: left;
        margin-left: 7px;
    }

        .hot_sale_product_list .hot_sale_product_item .hot_sale_product_img {
        }

            .hot_sale_product_list .hot_sale_product_item .hot_sale_product_img img {
                width: 330px;
                height: 262px;
            }

        .hot_sale_product_list .hot_sale_product_item .prodesc {
            font-size: 14px;
            text-align: center;
            margin-top: 18px;
        }

.prodesc .pro_title {
    width: 50%;
    float: left;
}

.prodesc .pro_level {
    width: 50%;
    float: left;
}


.classic_case_head {
    border-bottom: 2px solid #c3c3c3;
    width: 1006px;
    margin: 0 auto;
    margin-top: 30px;
}

.classic_case_title {
    float: left;
    text-align: center;
    padding-left: 26px;
    padding-right: 26px;
}

.classic_case_more {
    float: right;
    margin-right: 12px;
    margin-top: 14px;
}

    .classic_case_more a {
        font-size: 16px;
        font-weight: bold;
        color: #da251c;
    }

.case_list .case_float_list_item {
    float: left;
    margin: 34px 0 0 24px;
}

.case_float_list_item .itemimg {
    border: 1px solid #c3c3c3;
    width: 312px;
}

    .case_float_list_item .itemimg img {
        width: 310px;
        height: 210px;
    }

.case_float_list_item .itemdesc {
    margin-top: 12px;
}

    .case_float_list_item .itemdesc .itemtitle {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

.sunshine_pager {
    margin: 20px auto;
    width: 100%;
    min-width: 750px;
    text-align: center;
}

.product_detail_box {
    margin-top: 38px;
}

.product_detail_top {
}

    .product_detail_top .pimg {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

        .product_detail_top .pimg img {
            width: 100%;
        }

    .product_detail_top .p_basic_info {
        width: 90%;
        margin: 0 auto;
    }

.p_basic_info .p_title {
    height: 60px;
    line-height: 70px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.p_basic_info .p_basic {
    margin-top: 20px;
    font-size: 16px;
}

    .p_basic_info .p_basic p {
        margin-top: 20px;
        font-size: 30px;
    }

.p_basic_info .p_ask {
    width: 90%;
    margin-top: 37px;
    text-align: center;
}

.p_basic_info .btn_ask {
    background-color: #F4F1EA;
    border: 1px solid #da251c;
    padding: 8px 0;
    font-size: 38px;
    font-weight: bold;
    width: 190px;
    text-align: center;
    margin: 0 auto;
}

.product_detail_bottom {
    margin-top: 38px;
}

.p_description_header {
    border-bottom: 2px solid #da251c;
}

    .p_description_header .desc_tab {
        float: left;
        text-align: center;
        padding-left: 26px;
        padding-right: 26px;
        cursor: pointer;
    }

.product_detail_bottom .p_description_header .not_current {
    background-color: #dededc;
    color: #060503;
}

.p_product_show_title {
    margin-top: 22px;
    font-size: 38px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: #1c1c1c;
    text-align: center;
    padding: 10px 0;
}

.p_product_show_title_line {
    margin-top: 8px;
    border-bottom: 2px solid #1c1c1c;
}

.p_description_body {
    margin-top: 22px;
    font-size: 16px;
}
.p_description_body img{
    width:100%;
    height:auto;
}

.no_data_div {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.fuwuliucheng_home {
    width: 1022px;
    margin: 0 auto;
    text-align: center;
}


nav .pager {
    margin: 20px 0 0 0;
}

.pager {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

    .pager > li {
        display: inline;
        margin-left: 5px;
    }

        .pager > li:first-child > a, .pager > li:first-child > span {
            margin-left: 0;
        }

        .pager > li > a, .pager > li > span {
            font-size: 20px;
            position: relative;
            float: left;
            padding: 2px 8px;
            margin-left: 4px;
            line-height: 1.42857143;
            color: #333333;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 0px;
        }

@media (min-width:800px) and (max-width:850px) {
    .pager > li > a, .pager > li > span {
        font-size: 22px;
    }
}

@media (min-width:850px) and (max-width:950px) {
    .pager > li > a, .pager > li > span {
        font-size: 26px;
    }
}

@media (min-width:950px) and (max-width:1050px) {
    .pager > li > a, .pager > li > span {
        font-size: 30px;
    }
}

@media screen and (min-width:1050px) {
    .pager > li > a, .pager > li > span {
        font-size: 36px;
    }
}

.pager > .active > a, .pager > .active > a:focus, .pager > .active > a:hover, .pager > .active > span, .pager > .active > span:focus, .pager > .active > span:hover {
    z-index: 2;
    cursor: default;
    border: 0px;
    /*color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;*/
}

.site_map_box {
    border: 1px #ccc solid;
    width: 1006px;
    margin: 0 auto;
    padding-bottom: 20px;
}

    .site_map_box .map_header {
        border-bottom: 1px #ccc solid;
        width: 100%;
        text-align: left;
        padding: 10px;
        font-size: 16px;
    }

    .site_map_box .map_item_header {
        width: 100%;
        text-align: left;
        padding: 10px;
        font-size: 16px;
    }

    .site_map_box .map_item_content {
        text-align: left;
        padding: 10px;
        margin-left: -5px;
        font-size: 14px;
    }

.map_item_content .second_header {
    text-align: left;
    padding: 10px 0 0 10px;
    font-size: 14px;
    font-weight: bold;
}
/*.map_item_content .map_items{
        text-align: left;
        padding: 5px;
        font-size:12px;
        margin-left:20px;
    }*/
.map_items {
    text-align: left;
    padding: 5px;
    font-size: 12px;
    margin-left: 60px;
}

    .map_items a {
        margin-left: 10px;
        font-size: 14px;
        line-height: 22px;
        height: 22px;
    }

        .map_items a:first-child {
            margin-left: 0;
        }

.mobile_success_case_box {
    width: 99%;
    min-width: 750px;
    margin: 0 auto;
}

    .mobile_success_case_box .mobile_success_case_item {
        float: left;
        font-size: 36px;
        text-align: center;
        height: 82px;
        line-height: 82px;
        width: 49.5%;
        margin-left: 1%;
        margin-top: 20px;
        background: #da251c;
    }

.case_box .case_right .mobile_success_case_box .mobile_success_case_item_current {
    background: #71706E;
}

.mobile_success_case_box .mobile_success_case_item:hover {
    background: #383431;
}

.mobile_success_case_item a {
    color: #FFFFFF;
}

.case_detail_content_box {
    width: 100%;
}

    .case_detail_content_box img {
        width: 100%;
        height: auto;
    }

.baidu_map {
    width: 100%;
    height: 500px;
    border: #ccc solid 1px;
    font-size: 12px;
    margin-top: 10px;
}

.circle_index {
    display: inline-block;
    border-radius: 18px;
    width: 18px;
    height: 18px;
    margin: 0;
    background-color: #747371;
    color: #FFFFFF;
    text-align: center;
    line-height: 18px;
    margin-right: 8px;
    font-size: 12px;
}
