@using SunShine.Web.Utils;
@{
    Layout = null;
}

<div class="img_more_width book_title">
    @if (BrowerDetectorHelper.IsMobile()) {
        <img class="img" src="/Images/home/book_title.jpg" />
    }
    else {
        <img class="img" src="/Images/home/book_title.jpg" />
    }

</div>


