@using SunShine.Model;
@using SunShine.Utils;
@model List<ArticleViewModel>
@{
    Layout = null;
}
@{
    if (Model != null && Model.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="case_question_item">
                <div class="itemdesc">
                    <div class="itemtitle"><img src="@Url.Content("~/Images/case/question.jpg")" />&nbsp;<a href="@Url.RouteUrl("case_detail",new { idarticle=Model[i].idarticle})">@Model[i].title</a></div>
                    <div class="itemdetail"><img src="@Url.Content("~/Images/case/anwer.jpg")" />&nbsp;@(string.IsNullOrEmpty(Model[i].content) ? "" : Model[i].content.RemoveHTMLAndGetByNum(80))</div>
                </div>
            </div>
        }

    }
    else
    {
        <div class="no_data_div">暂无数据！</div>
    }
}

