@using SunShine.Web.Utils;
@{
    Layout = null;
}

<div class="img_middle_width service_flow_box">
        @if (BrowerDetectorHelper.IsMobile()) {
            <img class="img" src="/Images/home/service_flow.jpg" />
        }
        else {
            <img class="img" src="/Images/home/service_flow.jpg" />
        }

</div>
