@{
    Layout = null;
}
<div class="classic_case_head">
    <div class="classic_case_title bgcolor_title_head">
        经典案例
    </div>
    <div class="classic_case_more"><a href="@Url.Action("Index","Case",new { categoryCode="successcase",currentCategoryCode="lastestcase"})">更多+</a></div>
    <div style="clear:both;"></div>
</div>