@using SunShine.Model;
@using SunShine.Web.Utils;
@{
    Layout = null;
    List<ArticleViewModel> ablity = (List<ArticleViewModel>)ViewData["ablity"];
    List<ArticleViewModel> quality = (List<ArticleViewModel>)ViewData["quality"];
    List<ArticleViewModel> goodprice = (List<ArticleViewModel>)ViewData["goodprice"];
    List<ArticleViewModel> saleservice = (List<ArticleViewModel>)ViewData["saleservice"];

}
<div class="core_advance_box">
    <div class="core_advance_box_content">
        <div class="core_advance_box_title">
            <img src="~/Images/home/coreadvance.jpg" />
        </div>
        <div class="core_advance_box_part">
            <div class="part_left">
                <img src="~/Images/home/core_advance_title_img_1.jpg" />
            </div>
            <div class="part_right">
                <img src="~/Images/home/core_advance_title_1_2.jpg" />
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="core_advance_box_part">
            <div class="part_left">
                <img src="~/Images/home/core_advance_title_img_2.jpg" />
            </div>
            <div class="part_right">
                <img src="~/Images/home/core_advance_title_3_4.jpg" />
            </div>
            <div style="clear:both;"></div>
        </div>
    </div> 
</div>


