@using SunShine.Model;
@using SunShine.Web.Utils;
@{
    Layout = null;
}
<div class="design_service_box">
    <div class="service_title">
        <img class="img" src="~/Images/home/designtitle.jpg" />
    </div>
</div>


