@using SunShine.Model;
@using SunShine.Web.Utils;
@model List<ArticleViewModel>
@{
    Layout = null;
}
@if (Model != null && Model.Count > 0)
{
    <div class="design_service_box">
        <div class="service_title">
            <img class="img" src="~/Images/home/designtitle.jpg" />
        </div>
        <div class="design_service">
            @foreach (var item in Model)
            {
                <div class="service_item">
                    <a href="@Url.Action("Index","Case",new {idarticle=item.idarticle })"><img src="@Url.Content(item.img)" /></a>
                    <a href=""><div class="service_item_bottom">@item.title</div></a>
</div>
            }
        </div>
        <div style="clear:both;"></div>
    </div>
}



