@using SunShine.Model;
@using SunShine.EF;
@model List<Picture>
@{
    Layout = null;
}
@if (Model != null && Model.Count > 0) {
    <div class="banner">
        <div id="sunshine_advertise_slide" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Count; i++) {
                    string aactive = (i == 0 ? "class=\"active\"" : "");
                    <li data-target="#sunshine_advertise_slide" data-slide-to="@i" @Html.Raw(aactive)></li>
                }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < Model.Count; i++) {
                    string active = (i == 0 ? "class=\"item active\"" : "class=\"item\"");
                    <div @Html.Raw(active) >
                        <img src="@Url.Content(Model[i].path)" alt="">
                        <div class="carousel-caption">
                        </div>
                    </div>
                }
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#sunshine_advertise_slide" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#sunshine_advertise_slide" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
   
    </div>
}

