@using SunShine.Model;
@using SunShine.Utils;
@using SunShine.EF;
@model WebsiteInfoViewModel
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="site_bottom">
        <div class="site_info_item">@Model.sitename</div>
        <div class="site_info_item">地址：@Model.address</div>
        <div class="site_info_item">免费热线：@Model.hotphoneallcountry &nbsp;&nbsp; @Model.hotphone</div>
        <div class="site_info_item">客服QQ：@Model.qq &nbsp;&nbsp;&nbsp;@Model.qq2</div>
        <div class="site_info_item">@Model.copyright</div>
    </div>
    <div style="clear:both;"></div>
}
