@using SunShine.Model;
@using SunShine.Web.Utils;
@{
    Layout = null;
}
<div class="core_advance_box">
    <div class="core_advance_title">
        <img src="~/Images/home/mobile_advance_title.jpg" />
    </div>
    <div>
        <img src="~/Images/home/mobile_advance_img_1.jpg" />
    </div>
    <div>
        <img src="~/Images/home/mobile_advance_content.jpg" />
    </div>
    <div>
        <img src="~/Images/home/mobile_advance_img_2.jpg" />
    </div>
</div>



